@import "../../styles/variables";

//hero section
.back-color-gif {
  background-image: url("../../assets/gif/Hero.gif");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  &__hero {
    padding-top: 5.6rem;
  }

  &__header {
  }

  &__logo-wrap {
    flex: 8;
  }

  &__logo {
    background-image: url("../../assets/svg/logo/logo.svg");
    background-color: $black;
    height: 15px;
    width: 166px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__links {
    flex: 4;
  }

  &__link:not(:last-child) {
    padding-bottom: 16px;
  }

  &__link {
    color: $white;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }

  &__menu-social {
    margin-top: 25vh;
  }

  &__menu {
    background-image: url("../../assets/svg/icons/burger.svg");
    height: 18px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }

  &__menu-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__social {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__facebook {
    background-image: url("../../assets/svg/icons/facebook.svg");
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  &__linkedin {
    background-image: url("../../assets/svg/icons/linkedin.svg");
    height: 24px;
    width: 24px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
}

//wedo
.back-color {
  background-color: $black;
}

.container {
  &__we-do-section {
    margin: 5.6rem 0;
  }
  &__title-line {
    margin-left: 102rem;
  }

  &__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 8rem;
    line-height: 9.6rem;
    text-transform: uppercase;
    color: $white;
  }

  &__line {
    border-bottom: 1px solid $white;
    width: 114rem;
  }

  &__service {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 16px;
  }

  &__service > * + * {
    margin-left: 8px;
  }

  &__service-name {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    color: $white;
  }

  &__service-paragraph {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    color: $white;
    opacity: 0.2;
  }

  .container__for-loop {
    display: flex;
    align-items: center;
  }

  &__service-sign {
    background-image: url("../../assets/svg/icons/circle.svg");
    height: 8px;
    width: 8px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8px;
  }
}

//industry focus
.container {
  &__ind-foc {
    margin-top: 5.6rem;
  }
  &__industry-focus {
    margin-top: 14rem;
  }
  &__ind-foc-title-line {
  }
  &__ind-foc-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 8rem;
    line-height: 9.8rem;
    text-transform: uppercase;
  }
  &__ind-foc-line {
    border-bottom: 1px solid $black;
    width: 83rem;
  }

  &__focuses {
    flex: 6;
  }

  &__focus {
    display: flex;
    gap: 2.4rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: $black;
  }

  &__desc {
    flex: 6;
  }

  &__animation {
    background-image: url("../../assets/gif/Tube.gif");
    height: 40rem;
    width: 85rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4rem;
  }

  &__text {
    display: flex;
    gap: 24px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $black;
  }

  &__text-one {
    flex: 0 0 31%;
  }

  &__text-two {
    flex: 0 0 31%;
  }
}

// tools and technology

.container {
  &__tool-tech {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 14rem;
  }

  &__tool-tech-main {
    margin: 5.6rem 0;
  }

  &__tool-tech-title-line {
  }

  &__tool-tech-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 8rem;
    line-height: 9.8rem;
    text-transform: uppercase;
  }

  &__tool-tech-box {
    flex: 1;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding: 0 16px;
    margin-bottom: -1px;
  }

  &__net {
    background-image: url("../../assets/svg/icons/tools-tech/net.svg");
    width: 5.3rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__react {
    background-image: url("../../assets/svg/icons/tools-tech/react.svg");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__js {
    background-image: url("../../assets/svg/icons/tools-tech/js.svg");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__python {
    background-image: url("../../assets/svg/icons/tools-tech/pytone.svg");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__c-plus {
    background-image: url("../../assets/svg/icons/tools-tech/c++.svg");
    width: 5.3rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__html-css {
    background-image: url("../../assets/svg/icons/tools-tech/htm-css.svg");
    width: 10.5rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__php {
    background-image: url("../../assets/svg/icons/tools-tech/php.svg");
    width: 5.3rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__laravel {
    background-image: url("../../assets/svg/icons/tools-tech/laravel.svg");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__xamarin {
    background-image: url("../../assets/svg/icons/tools-tech/xamarin.svg");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__kotlin {
    background-image: url("../../assets/svg/icons/tools-tech/kotlin.svg");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__swift {
    background-image: url("../../assets/svg/icons/tools-tech/swift.svg");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__obj-c {
    background-image: url("../../assets/svg/icons/tools-tech/onb-c.svg");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__c {
    background-image: url("../../assets/svg/icons/tools-tech/c.svg");
    width: 4rem;
    height: 4rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.techOne,
.iconOne,
.iconTwo,
.iconThree {
  visibility: hidden;
}

.container {
  &__tool-tech-description-wrapper {
    margin-top: 4rem;
  }

  &__tool-tech-description-wrapper-dummy {
    flex: 6;
  }

  &__tool-tech-description-wrapper-text {
    flex: 6;
  }

  &__tool-tech-description-wrappper-paragraph {
    max-width: 29.4rem;

    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: $black;
  }
}

//contact
.container {
  &__contact-title-line {
    margin-left: 57rem;
  }
  &__contact-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    font-size: 8rem;
    line-height: 9.6rem;
    text-transform: uppercase;
    color: $black;
  }
  &__contact-line {
    border-bottom: 1px solid $black;
    width: 114rem;
  }

  &__map {
    flex: 6;
    background-image: url("../../assets/svg/img/map.png");
    width: 100%;
    height: 60rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__fields {
    flex: 6;
  }
}

span {
  display: inline-block;
  overflow: hidden;
}

.absolute {
  height: 100vh;
  width: 100vw;
  background-color: burlywood;
  position: absolute;
}
